@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Open+Sans:wght@400;600;700&display=swap');

*{
  margin: 0;
}

.body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  font-family: 'Nanum Pen Script', cursive;
  background-color: #e0e0e0;
}

.header {
  background-color: #bcb3c1;
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  height: 5vh;
  font-size: 16px;
  margin: auto;
}

.Nav {
  background-color: #eee5f4;
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: center;
}

.Nav_img{
  height: 50%;
  align-self: center;
}

@media screen and (min-width: 601px) {
  .Nav_title {
    font-size: 40px;
    align-self: center;
  }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
  .Nav_title {
    font-size: 28px;
    align-self: center;
  }
}

.Main {
  width: 100%;
  height: 75vh;
}

.Input {
  width: 100%;
  height: 10vh;
  display: flex;
  border-radius: 20px;
}

.Input_input {
  width: 90%;
  border-radius: 20px;
  height: 5vh;
  align-self: flex-end;
  background-color: #eee5f4;
  outline: none;
}

.Input_Btn {
  width: 10%;
  border-radius: 20px;
  height: 6vh;
  align-self: flex-end;
  background-color: #bcb3c1;
  outline: none;
}

.Main_balloon {
  display: flex;
  width: 100%;
  height: 12%;
  margin-top: 3%;
}

.balloon {
  position:relative;
  margin-left: 30px;
  width: 60%;
  height: 100%;
  background-color: #eee5f4;
  border-radius: 10px;
  color: black;
}

.balloon:after {
  border-top:15px solid #eee5f4;
  border-left: 15px solid transparent;
  border-right: 0px solid transparent;
  border-bottom: 0px solid transparent;
  content:"";
  position:absolute;
  top:10px;
  left:-15px;
}

.balloon_text {
  margin-left: 10px;
  font-size: 20px;
  width: 100%;
  height: 30%;
}

.Main_thumb {
  margin-left: 10px;
}

.Main_thumb_num {
  font-size: 30px;
}

.Main_thumb_Btn {
  background-color: #bcb3c1;
  outline: none;
}